<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fishlee.net.simpleupdater" version="4.3.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net451" />
  <package id="qcloud.qcloudsms_csharp" version="0.1.6" targetFramework="net451" />
  <package id="Txooo" version="4.0.0" targetFramework="net451" />
  <package id="Txooo.Extension" version="1.0.2018.1213" targetFramework="net451" />
  <package id="Txooo.Mobile" version="0.8.0.3" targetFramework="net451" />
</packages>