<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <log4net path="./Log/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>
    <!--日志记录对象-->
    <logger name="Txooo.TxConfig">
      <level value="ALL" />
      <appender-ref ref="Txooo.TxConfig.Appender" />
    </logger>
  </log4net>

</configuration>